.terraform/**
terraform-provider-gitops
# test/test_*/example.git
# test/test_*/checkout
test/test_*/terraform.tfstate.backup
test/test_*/terraform.d
test/test_*/terraform.tfstate
test/test_*/.terraform/**
dist/
*.log

.terraform.lock.hcl
